{% extends 'single_audit/base.html' %}
{% load static %}

{% block title %}
    Findings
{% endblock %}

{% block content %}
  {% include 'single_audit/logged_in_user.html' %}
  <div id="overview_nav" class="grid-row margin-top-5">
    <div class="grid-col-1"></div>
    <div class="overview_nav_button mobile-lg:grid-col-2 text-center selected">
      Assigned to me
    </div>
    <div class="overview_nav_button mobile-lg:grid-col-2 text-center">
      I'm watching
    </div>
    <div class="overview_nav_button mobile-lg:grid-col-2 text-center">
      All my agency's findings
    </div>
    <div class="grid-col-1"></div>
  </div>
  <div id="main_content_area" class="grid-row">
    <div class="grid-col-1"></div>
    <div class="desktop:grid-col-8 margin-top-5">
      <table id="findings_overview_table" class="margin-right-5">
        <thead>
          <tr>
            <th>Assigned</th>
            <th>Finding # | Grantee</th>
            <th>MDL due</th>
            <th><!-- NOTE (ARS): This header should say "Sort" when sort functionality is implemented. --></th>
          </tr>
        </thead>
        <tbody>
         <!-- NOTE: table body data will populate like this:

         {% for finding in findings %}
          <a href="{{ finding.get_absolute_url }}">
            {{ finding.name }}
          </a>
        {% endfor %} -->
          <tr>
            <td>
              <div class="user_label_oval user_label_orange">
                GM
              </div>
            </td>
            <td>
              <div class="font-sans-md margin-bottom-05">2018-15 | Example Grantee</div>
              <div>
                <span class="usa-tag lightblue-cool-tag">Questioned costs</span>
                <span class="usa-tag lightblue-cool-tag">Repeat finding</span>
              </div>
            </td>
            <td class="text-gray-50">
              Nov 13
            </td>
            <td class="text-gray-50 text-center">
              3
              <img alt="comment icon"
                src="{% static 'img/comment-alt-gray.svg' %}"
                height="14"
                class="margin-left-05"
                style="position: relative; top: 2px;" />
            </td>
          </tr>
          <tr>
            <td>
              <div class="user_label_oval user_label_purple">
                JS
              </div>
            </td>
            <td>
              <div class="font-sans-md margin-bottom-05">2018-01 | Example Grantee</div>
              <div>
                <span class="usa-tag lightblue-cool-tag">Questioned costs</span>
                <span class="usa-tag lightblue-cool-tag">Repeat finding</span>
              </div>
            </td>
            <td class="text-gray-50">
              Today
            </td>
            <td class="new_activity_badge text-center text-uppercase text-white">
              New <br/> Activity
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="desktop:grid-col-2 margin-top-5 margin-x-1">
      <div class="sidebar_section padding-top-05 padding-bottom-3">
        <div class="padding-y-05">My agency is:</div>
        <div class="padding-y-1">
          <input type="checkbox" id="cognizant" />
          <label for="cognizant">cognizant</label>
        </div>
        <div class="padding-y-1">
          <input type="checkbox" id="non-cognizant" />
          <label for="non-cognizant">non-cognizant</label>
        </div>
      </div>
      <div class="sidebar_section padding-top-05 padding-bottom-3">
        <div class="padding-y-05">Show finding types:</div>
        <div class="padding-y-1">
          <input type="checkbox" id="resolved" />
          <label for="resolved">resolved</label>
        </div>
        <div class="padding-y-1">
          <input type="checkbox" id="unresolved" />
          <label for="unresolved">unresolved</label>
        </div>
      </div>
    </div>
    <div class="grid-col-1"></div>
  </div>
{% endblock %}
