<!-- NOTE: Destination for Findings Overview page styles -->
<!-- @todo: ADD USWDS CLASSES! -->

{% extends 'single_audit/base.html' %}
{% load static %}

{% block title %}Findings{% endblock %}

{% block content %}
  {% include 'single_audit/logged_in_user.html' %}
  <div id="overview_nav" class="grid-row height-10 margin-y-5">
    <div class="grid-col-1"></div>
    <div class="overview_nav_button mobile-lg:grid-col-2 text-center selected">
      Assigned to me
    </div>
    <div class="overview_nav_button mobile-lg:grid-col-2 text-center">
      I'm watching
    </div>
    <div class="overview_nav_button mobile-lg:grid-col-2 text-center">
      All my agency's findings
    </div>
    <div class="grid-col-1"></div>
  </div>
  <div id="main_content_area" class="grid-row">
    <div class="grid-col-1"></div>
    <div class="tablet:grid-col-8">
      <table id="findings_overview_table" class="margin-right-5">
        <thead>
          <tr>
            <th>Assigned</th>
            <th>Finding # | Grantee</th>
            <th>MDL due</th>
            <th>Sort</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GM</td>
            <td>2018-15 | Commonwealth of Massachusetts</td>
            <td>Nov 13</td>
            <td>3</td>
          </tr>
        </tbody>

         {% for finding in findings %}
          <a href="{{ finding.get_absolute_url }}">
            {{ finding.name }}
          </a>
        {% endfor %}
      </table>
    </div>
    <div class="tablet:grid-col-2">
      <div class="sidebar_section padding-top-05 padding-bottom-3">
        <div class="padding-y-05">My agency is:</div>
        <div class="padding-y-1">
          <input type="checkbox" id="cognizant" />
          <label for="cognizant">cognizant</label>
        </div>
        <div class="padding-y-1">
          <input type="checkbox" id="non-cognizant" />
          <label for="non-cognizant">non-cognizant</label>
        </div>
      </div>
      <div class="sidebar_section padding-top-05 padding-bottom-3">
        <div class="padding-y-05">Show finding types:</div>
        <div class="padding-y-1">
          <input type="checkbox" id="resolved" />
          <label for="resolved">resolved</label>
        </div>
        <div class="padding-y-1">
          <input type="checkbox" id="unresolved" />
          <label for="unresolved">unresolved</label>
        </div>
      </div>
    </div>
    <div class="grid-col-1"></div>
  </div>
{% endblock %}
