#app_header {
  border-bottom: 3px solid #E8EEF5;
}
#app_title {
  color: #0071BC;
}
#logged_in_username {
  align-self: center;
}
#finding_summary_header {
  background-color: #E8EEF5;
}
#grantee_name {
  align-self: center;
}
#finding_title {
  background-color: #122E51;
  font-size: 20px;
}
.section_title {
  background-color: #122E51;
}
.comment_summary {
  background-color: #E8E4E4;
}
textarea.big_textarea {
  height: 140px;
}
textarea {
  resize: none;
}
.sidebar_section {
  border-top: 3px solid #0071BB;
}
.sidebar_section_title {
  border-bottom: 1px solid #0071BB;
}

/* USWDS defaults overrides */
.lightblue-cool.usa-button {
  background-color: #E8EEF5;
  color: #005288;
  border: 4px solid #FBFCFE;
  border-radius: 5px;
}
.lightblue-cool.usa-button:hover {
  background-color: #0071BB;
  color: white;
  border: 4px solid #0071BB;
  border-radius: 5px;
}
.lighter-gray.usa-button {
  background-color: #E8E4E4;
  color: black;
  /*border: 4px solid #FBFCFE;*/
  /*border-radius: 5px;*/
}

.usa-accordion__heading button {
  text-transform: uppercase;
  background-color: #E8EEF5;
  font-weight: normal;
}
